body {
  min-width: 325px;
  font-family: "century-gothic", sans-serif;
  letter-spacing: .05em;
}

* {
  box-sizing: border-box;
}

span {
  color: #D5001C;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 80px 0 0 0;
}

.categories {
  box-sizing: border-box;
  width: 302px;
  height: 100%;
  background: url('../img/Mask.png');
  background-size: cover;
  padding: 19px 14px 1px 22px;

  &__menu-item {
    box-sizing: border-box;
    width: 264px;
    height: 43px;
    background: rgba($color: #fff, $alpha: .62);
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    outline-color: transparent;
    transition: all .6s;
    font-size: 12px;

    &:hover {
      outline: 1px solid black;
      cursor: pointer;
    }
  }

  &__menu-item_all, &__menu-item_more {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 0;

    .categories__menu-name {
      margin-left: 24px;
    }
  }

  &__menu-link {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__menu-link-active {
    background: rgba(213, 0, 28, 1);
    width: 100%;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.71);
    height: 100%;
  }

  &__menu-logo_container {
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 27px;
  }

  .credit__select {
    display: none;
  }
}

.all-title {
  display: none;
}

.main {
  width: 1100px;
  margin-left: 27px;
}

.car {
  padding-top: 30px;
  font-family: "century-gothic", sans-serif;
  position: relative;
  width: 100%;
  height: 650px;
  padding-left: 35px;
  display: flex;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);

  &__photos {
    width: 745px;
    display: flex;
    flex-direction: column;
  }

  &__guarantee {
    top: 10px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 82px;
    width: 208px;
    height: 36px;
    background: rgba(213, 0, 28, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__photos-small {
    display: flex;
    margin-top: 15px;
  }

  &__about {
    margin-left: 23px;
    width: 261px;
  }

  &__info {
    border-bottom: 2px solid #D1D1D1;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 20px;
  }

  &__sees {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    img {
      width: 17px;
    }

    p {
      font-size: 11px;
      color: rgba(127, 115, 115, 1);
      margin-left: 6px;
    }
  }

  &__features {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
  }

  &__price {
    font-weight: 700;
    margin-top: 45px;

    span {
      font-size: 20px;
    }

    h3 {
      font-size: 32px;
      margin-bottom: 30px;
      margin-top: 15px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    button {
      color: #fff;
      width: 261px;
      height: 55px;
      font-size: 20px;
      font-weight: lighter;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: rgba(213, 0, 28, 1);
      margin-bottom: 17px;

      &:hover {
        cursor: pointer;
        background: rgba(255, 94, 94, 1);
      }
    }
  }
}

.credit {
  width: 1098px;
  height: 206px;
  margin-top: 58px;

  &__background {
    background: url('../img/Mask.png');
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
  }

  &__inner {
    height: 100%;
    background: #fff;
  }

  &__upper {
    height: 55%;
    // background: red;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 25px;
  }

  &__select {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    select {
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
      font-size: 16px;
      padding: 14px;
      font-family: "century-gothic", sans-serif;
      border: none;
      border-radius: 5px;
      margin-top: 5px;
    }
  }

  &__button {
    width: 261px;
    border: none;
    background: rgba(213, 0, 28, 1);
    color: #fff;
    font-size: 18px;
    height: 50px;
    align-self: flex-end;

    &:hover {
      cursor: pointer;
      background: rgba(255, 94, 94, 1);
    }
  }

  &__price {
    padding-left: 25px;
    height: 45%;
    display: flex;
    align-items: center;

    h6 {
      font-weight: 700;
    }

    span {
      font-weight: 700;
      margin: 0 30px 0 10px;
    }

    p {
      font-size: 12px;
      color: rgba(127, 115, 115, 1);
    }
  }
}

.description {
  position: relative;
  top: 50px;
  padding-left: 35px;
  letter-spacing: 0.03em;

  &__upper {
    display: flex;
    flex-direction: column;
    height: 270px;
    justify-content: space-between;
  }

  &__bottom {
    margin-top: 60px;
    height: 102px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
  }
}

.overlay {
  width: 100%;
  height: 2000px;
  position: absolute;
  backdrop-filter: blur(20px);
  transition: opacity .5s;

  &.closed {
    opacity: 0;
    z-index: -1;
  }
}

.popup-buy, .popup-credit {
  background: #fff;
  width: 700px;
  height: 387px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  padding: 25px 0 0 40px;
  transition: opacity 1s;
  z-index: 3;

  &.closed {
    opacity: 0;
    z-index: -1;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;

    &:hover {
      opacity: .7;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;

    input {
      box-sizing: border-box;
      width: 264px;
      height: 49px;
      border: 1px solid #EBEBEB;
      font-size: 16px;
      padding: 15px 19px;
      color: #000;
      margin-bottom: 20px;
    }

    input[type="submit"] {
      margin-top: 10px;
      background: rgba(213, 0, 28, 1);
      color: #fff;
      z-index: 3;
      
      &:hover {
        cursor: pointer;
        background: rgba(255, 94, 94, 1);
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
  }

  &__keys {
    position: relative;
    top: 40px;
    z-index: 2;
  }

  &__circle {
    position: absolute;
    top: 10px;
    right: 120px;
  }

  &__agreement {
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 100%;
    z-index: 3;

    .label {
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        border: 1px solid #bbbbbb;
        margin-right: 15px;
      }
    }
    
    .checkbox {
      display: none;

      &:checked + .label::before {
        background: rgba(213, 0, 28, 1);
        background-image: url('../img/checked.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }


    p {
      color: rgba(20, 20, 20, 0.5);
      width: 233px;
    }

    a {
      color: rgba(213, 0, 28, 1);
      cursor: pointer;
    }
  }

  &__right {
    position: relative;
    right: 118px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    right: 40px;
  }

  &__list-item {
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;

    img {
      width: 18px;
      height: 17px;
      margin-right: 5px;
    }
  }
}

.popup-credit {
  &__title {
    width: 320px;

    p {
      display: inline;
    }
  }

  &__money {
    position: relative;
    top: -10px;
    z-index: 1;
    right: 0px;
  }

  &__circle {
    top: -10px;
    right: 60px;
  }

  &__right {
    left: 100px;
    width: 280px;
    bottom: 90px;
  }

  .decrease-line-height {
    margin-top: 4px;
    line-height: .9em;
  }
}

.slider {
  margin-top: 70px;
  height: 357px;
  position: relative;

  .slick-track {
    display: flex;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    z-index: 5;
    position: absolute;
    top: 50%;
    z-index: 2;
    font-size: 0;
    width: 15px;
    height: 22px;
    border: none;
    cursor: pointer;

    &.slick-prev {
      left: -20px;
      background: url('../img/left\ button.png') 0 0 no-repeat;
    }

    &.slick-next {
      right: -30px;
      background: url('../img/right\ button.png') 0 0 no-repeat;
    }
  }

  &__item {
    min-width: 533px;
    width: 533px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 25px 32px 0;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    min-width: 0;
  }

  &__info {
    display: flex;
    border-bottom: 1px solid #A3A3A3;
    padding-bottom: 22px;
  }

  &__guarantee {
    position: relative;
    font-size: 10px;
    left: 170px;
    padding-bottom: 5px;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
  }

  &__title-mobile {
    display: none;
  }

  &__features {
    font-size: 13px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 17px;

    h4 {
      font-size: 27px;
      font-weight: 700;
    }

    span {
      font-size: 20px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    color: #fff;
    width: 217px;
    height: 55px;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(213, 0, 28, 1);
    margin-bottom: 17px;

    &:hover {
      cursor: pointer;
      background: rgba(255, 94, 94, 1);
    }
  }

  &__photo {
    z-index: 2;
  }

  &__pattern1, &__pattern2 {
    position: absolute;
  }

  &__pattern1 {
    transform: translateY(-15px);
  }

  &__pattern2 {
    transform: translateY(140px) translateX(155px);
  }

  &__left-arrow, &__right-arrow {
    z-index: 3;
    transform: translateX(-212px) translateY(134px);
    position: relative;
    width: 17px;
    height: 17px;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}

@media screen and (max-width: 1520px) {
  .categories {
    width: 220px;

    &__menu-item {
      width: 100%;
    }
    &__menu-logo_container {
      margin: 0;
      
      img {
        width: 30px;
      }
    }
  }

  .main {
    width: 900px;
  }

  .car {
    padding: 20px;
    width: 100%;
    height: 490px;

    &__guarantee {
      top: 0;
      font-size: 14px;
      width: 20%;
    }
    &__photos-big {
      width: 550px;

      img {
        width: 100%;
      }
    }
    &__photos-small {
      width: 550px;
  
      img {
        width: calc(100% / 7);
      }
    }
    &__title {
      font-size: 34px;
      margin-bottom: 10px;
    }
    &__sees {
      margin-bottom: 10px;
    }
    &__features {
      font-size: 12px;
      padding-bottom: 10px;
    }
    &__price {
      margin-top: 10px;
      span {
        font-size: 14px;
      }
      h3 {
        font-size: 24px;
      }
    }
    &__buttons {
      button {
        font-size: 14px;
        height: 40px;
        margin-bottom: 10px;
      }
    }
  }

  .credit {
    width: 100%;

    label {
      font-size: 14px;
    }
  }

  .description {
    &__title {
      font-size: 22px;
    }
    p, li {
      font-size: 14px;
    }
    &__bottom {
      margin-top: 40px;
      margin-bottom: 60px;
      p {
        margin-top: 20px;
      }
    }
  }

  .slider {
    height: 260px;
    &__item {
      padding: 10px 20px;
      width: 10%;
      position: relative;
    }
    &__photo {
      width: 50%;
    }
    .slick-slide {
      width: 300px;
    }
    &__price {
      h4 {
        font-size: 22px;
      }

      span {
        font-size: 14px;
      }
    }
    &__buttons {
      height: 40px;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 20px;
      button {
        width: 46%;
        height: 100%;
        font-size: 14px;
      }
    }
    &__guarantee {
      left: 126px;
    }
    &__features {
      font-size: 12px;
    }
    &__pattern2 {
      top: 0;
      left: -26px;
    }
    &__left-arrow, &__right-arrow {
      transform: translate(246px, 106px);
    }
  }
}

@media screen and (max-width: 1230px) {
  .categories {
    width: 180px;

    &__menu-logo_container {
      width: 50px;
    }

    &__menu-item_more, &__menu-item_all {
      font-size: 16px;
    }

    &__menu-item_all .categories__menu-name, .categories__menu-item_more .categories__menu-name {
      margin-left: 14px;
  }
  }

  .main {
    width: 680px;
  }

  .car {
    padding: 20px;
    width: 100%;
    height: 410px;

    &__guarantee {
      font-size: 12px;
      width: 120px;
      height: 30px;
    }

    &__photos-big, &__photos-small {
      width: 460px;
    }

    &__info {
      width: 160px;
    }

    &__title {
      font-size: 24px;
    }

    &__sees {
      p {
        font-size: 10px;
      }
    }

    &__features {
      font-size: 12px;
      line-height: 20px;
    }

    &__price {
      h3 {
        margin-bottom: 20px;
      }
    }

    &__buttons {
      button {
        width: 100%;
      }
    }
  }

  .credit {
    height: 180px;
    label {
      font-size: 12px;
    }
    select {
      height: 35px;
      font-size: 14px;
      padding: 0 10px;
    }
    &__button {
      height: 40px;
      font-size: 14px;
    }
  }

  .slider {
    height: 200px;
    &__item {
      padding: 10px 10px 0;
      position: relative;
    }
    &__photo {
      width: 45%;
    }
    &__price {
      h4 {
        font-size: 20px;
      }

      span {
        font-size: 14px;
      }
    }
    &__buttons {
      height: 40px;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 20px;
      button {
        width: 46%;
        height: 100%;
        font-size: 14px;
      }
    }
    &__guarantee {
      left: 126px;
    }
    &__title {
      font-size: 16px;
    }
    &__features {
      font-size: 10px;
    }
    &__pattern1 {
      top: 28px;
    }
    &__pattern2 {
      top: -30px;
      left: -60px;
    }
    &__left-arrow, &__right-arrow {
      transform: translate(246px, 106px);
    }
    &__pattern1, &__pattern2 {
      width: 60px;
    }
    &__guarantee {
      left: 66px;
      z-index: 3;
    }
    &__left-arrow, &__right-arrow {
      transform: translate(160px, 70px);
    }
  }
}

@media screen and (max-width: 980px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
  }

  .all-title {
    display: flex;
    align-self: flex-start;
    padding: 20px;
    font-weight: 700;
    font-size: 22px;
  }

  .categories {
    width: 100%;
    margin-bottom: 20px;
    &__menu-item {
      display: none;
    }
    padding: 15px;

    .credit__select {
      display: flex;
      align-self: center;
    }
  }

  .main {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .description {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .car {
    padding: 15px;
    flex-direction: column;
    border: 1px solid #D0D0D0;
    height: 100%;
    width: 100%;

    &__photos {
      position: relative;
      width: 100%;

      &-big {
        width: 100%;
      }
      &-small {
        width: 100%;
        margin-top: 10px;
      }
    }

    &__guarantee {
      position: relative;
      top: 10px;
      left: 15px;
      font-size: 14px;
      max-width: 157px;
      max-height: 27px;
    }

    &__title {
      font-size: 34px;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    &__sees {
      display: none;
    }

    &__about {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &__info {
      padding: 0;
      margin: 0;
      width: 100%;
      position: relative;
      top: 10px;
      left: 0;
      display: flex;
      flex-direction: column-reverse;
    }

    &__features {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 80px;
      font-size: 12px;
      justify-content: space-around;

      span {
        padding-right: 40px;
      }
    }

    &__price {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin-top: 20px;

      h3 {
        font-size: 32px;
      }

      span {
        font-size: 20px;
      }
    }

    &__buttons {
      width: 100%;
      margin-top: 20px;

      button {
        height: 50px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .credit {
    position: relative;
    width: 100%;
    height: 420px;

    &__inner {
      height: 100%;
      padding-top: 25px;
    }

    label {
      font-size: 14px;
    }
    
    select {
      height: 50px;
    }

    &__button {
      height: 60px;
      font-size: 16px;
    }
    &__upper {
      flex-direction: column;
      justify-content: space-between;
      height: 70%;
      margin-bottom: 20px;

      button {
        width: 100%;
      }
    }

    &__price {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      h6 {
        font-size: 16px;
      }
      span {
        margin: 0;
        font-size: 16px;
      }
    }
  }

  .description {
    margin-top: -20px;
    padding-left: 25px;
    width: 90%;
    margin-bottom: 20px;

    &__title {
      margin-bottom: 20px;
    }

    &__upper {
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 1.2em;
    }

    &__bottom {
      justify-content: flex-start;
      margin-top: 30px;
      height: 180px;
      
      p {
        line-height: 1.2em;;
      }
      margin-bottom: 40px;
    }
  }

  .slider {
    position: relative;
    margin-top: 60px;

    &__guarantee {
      font-size: 12px;
      left: 0;
    }

    &__pattern1 {
      width: 100px;
    }

    .slick-dots {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      & li {
        display: inline-block;
        list-style: none;
        margin: 0 10px;

        &.slick-active button{
          display: inline-block;
          background: #D5001C;
          width: 12px;
          height: 12px;
          outline: 2px solid #D9D9D9;
        }
      }

      & button {
        cursor: pointer;
        display: inline-block;
        font-size: 0;
        width: 12px;
        height: 12px;
        background: #D9D9D9;
        border-radius: 50%;
        border: none;
      }
    }
  }

  .overlay {
    height: 3200px;
  }
}

@media screen and (max-width: 705px) {
  .popup-buy, .popup-credit {
    width: 90%;
    height: 450px;
    padding-top: 10px;

    &__title {
      font-size: 24px;
      margin-top: 10px;
    }

    &__inner {
      flex-direction: column-reverse;
      width: 100%;
    }

    &__left, &__right {
      width: 100%;
    }

    &__left {
      margin-top: 10px;

      input {
        margin-bottom: 8px;
      }
    }

    &__right {
      top: -20px;
      flex-direction: row-reverse;
      justify-content: center;

      ul {
        top: 20px;
        width: 60%;
        left: 44px;
        
        li {
          font-size: 12px;
          line-height: 1.3em;
          margin-bottom: 10px;
        }
      }
    }

    &__circle {
      right: -140px;
      top: -60px;
    }

    &__keys {
      top: 10px;
      position: absolute;
      margin: 0;
      width: 100%;
      right: -170px;
    }
  }

  .popup-credit {
    &__money {
      position: absolute;
      width: 80%;
      right: 60px;
    }

    &__circle {
      right: 30px;
      top: -50px;
    }

    &__inner {
      padding: 0;
    }

    &__title {
      width: 80%;
    }

    &__right {
      justify-content: flex-end;
      ul {
        top: 30px;
        left: -100px;
      }
    }

    &__left {
      margin-top: 30px;
    }
  }

  .overlay {
    height: 3200px;
  }
}

@media screen and (max-width: 455px) {
  .wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
  }

  .all-title {
    display: flex;
    align-self: flex-start;
    padding: 20px;
    font-weight: 700;
    font-size: 22px;
  }

  .categories {
    &__menu-item {
      display: none;
    }
    padding: 15px;

    .credit__select {
      display: flex;
      align-self: center;
    }
  }

  .main {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .description {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .car {
    padding: 15px;
    flex-direction: column;
    border: 1px solid #D0D0D0;
    height: 100%;
    width: 100%;

    .photo6, .photo7 {
      display: none;
    }
    
    &__photos {
      position: relative;
      width: 100%;

      &-big-photo {
        max-width: 100%;
      }
    }

    &__photos-small {
      margin-top: 10px;
      width: 100%;

      &-photo {
        width: 20%;
      }
    }

    &__guarantee {
      position: relative;
      top: 10px;
      left: 15px;
      font-size: 14px;
      max-width: 157px;
      max-height: 27px;
    }

    &__title {
      font-size: 28px;
      margin-top: -10px;
      margin-bottom: 15px;
    }

    &__sees {
      display: none;
    }

    &__about {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &__info {
      padding: 0;
      margin: 0;
      width: 100%;
      position: relative;
      top: 10px;
      left: 0;
      display: flex;
      flex-direction: column-reverse;
    }

    &__features {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 120px;
      font-size: 12px;
      justify-content: space-around;

      span {
        padding-right: 40px;
      }
    }

    &__price {
      position: relative;
      margin-top: 30px;

      h3 {
        font-size: 28px;
      }

      span {
        font-size: 14px;
      }
    }

    &__buttons {
      width: 100%;

      button {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .credit {
    position: relative;
    width: 100%;
    height: 395px;

    &__inner {
      height: 100%;
      padding-top: 25px;
    }
    
    &__upper {
      flex-direction: column;
      justify-content: space-between;
      height: 70%;
      margin-bottom: 20px;

      button {
        width: 100%;
      }
    }

    &__price {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      font-size: 14px;

      span {
        margin: 0;
        font-size: 12px;
      }
    }
  }

  .description {
    margin-top: -20px;
    padding-left: 25px;
    width: 90%;
    margin-bottom: 20px;

    &__title {
      margin-bottom: 20px;
    }

    &__upper {
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 1.2em;
    }

    &__bottom {
      margin-top: 30px;
      height: 250px;
      
      p {
        line-height: 1.2em;;
      }
      margin-bottom: 40px;
    }
  }

  .slider {
    position: relative;
    margin-top: 100px;

    &__item {
      width: 100%;
      border: 1px solid #D0D0D0;
      height: 552px;
      padding: 20px 30px;
    }

    &__guarantee {
      transform: translateX(20px);
      font-weight: 700;
    }

    &__pattern2 {
      transform: translateX(176px) translateY(160px);
    }

    &__right-arrow {
      transform: translateY(-160px) translateX(250px);
    }

    &__left-arrow {
      transform: translateY(-143px) translateX(230px);
    }

    &__title {
      display: none;
    }

    &__title-mobile {
      font-size: 22px;
      font-weight: 700;
      display: flex;
      width: 45%;
      position: relative;
      top: 25px;
    }

    &__price {
      display: flex;
      padding-bottom: 17px;
      padding-top: 0;
      flex-direction: column;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 5px;

      h4 {
        font-size: 20px;
      }

      span {
        font-size: 11px;
        font-weight: 700;
      }
    }

    &__info {
      width: 100%;
      flex-direction: column;
      padding-bottom: 0;
    }

    &__features {
      margin: 20px 0 0 0;
      padding: 0;

      p {
        color: #828282;
        line-height: 1.3em;
      }
    }

    &__buttons {
      margin-top: 10px;
      flex-direction: column;
    }

    &__button {
      height: 40px;
      margin: 0;
      width: 100%;
      margin-bottom: 8px;
      font-size: 16px;
    }

    .slick-arrow {
      visibility: hidden;
    }

    .slick-dots {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & li {
        list-style: none;
        margin: 0 10px;

        &.slick-active button{
          display: inline-block;
          background: #D5001C;
          width: 12px;
          height: 12px;
          outline: 2px solid #D9D9D9;
        }
      }

      & button {
        display: inline-block;
        font-size: 0;
        width: 12px;
        height: 12px;
        background: #D9D9D9;
        border-radius: 50%;
        border: none;
      }
    }
  }
}